@model User



<div class="container text-center" style="max-width: 1322px;">
    <div class="row align-items-center justify-content-between">
        @* logo *@
        <div class="col-md-3 d-flex justify-content-left">
            <a href="/"><img class="logo" src="~/images/Wolf_Moon_Logo.png" alt="logo"></a>
        </div>
        @* Contact Us *@
        <div class="col-md-2">
            <div class="display-6">
                <a href="#contact-us" class="no-decoration">Contact Us</a>
            </div>
        </div>
        @* Open Hours *@
        <div class="col-md-2">
            <div class="display-6">
                <a href="#open-hours" class="no-decoration">Open Hours</a>
            </div>
        </div>
        @* Boarding *@
        <div class="col-md-2">
            <div class="display-6">
                <a href="#our-park" class="no-decoration">Our Park</a>
            </div>
        </div>
        @* Login *@
        <div class="col-md-3 d-flex align-items-center">
            <div class="col-md-4 mb-3 d-flex align-items-center">
                @{
                    if(Context.Session.GetInt32("UserId") == null)
                    {
                        <a href="/users/new" class="d-block text-black no-decoration display-6"><h3>REGISTER</h3></a>
                        <a href="/users/new" class="d-block m-2"><button class="btn btn-info">LOGIN</button></a>
                    }
                    else
                    {
                        int? currentUserId = Context.Session.GetInt32("UserId");

                        <h1>@Model.FirstName</h1>

                        <a href="/users/new" class="d-block text-black no-decoration"><h3></h3></a>

                        <a href="/users/@currentUserId/show" class="d-block text-black no-decoration"><h3>View Profile</h3></a>
                        <a href="/users/logout" class="d-block m-2"><button class="btn btn-info">LOGOUT</button></a>
                    }
                }
            </div>
        </div>
    </div>
</div>

<style>
    .custom-row{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .top{
        margin-top: auto;
    }

    .bottom{
        margin-bottom: auto;
    }

    .no-decoration{
        text-decoration: none;
    }

    .logo{
    max-width: 50%;
    max-height: 50%;
    }
</style>