

<div class="container mt-2 mx-2">
  <div><a href="/">Index</a></div>

  <div class="row text-center bg-light">
    <div class="col-md-4 mb-3">
      <div class="col-12 bg-success text-white">
        <h1 class="display-4">Users</h1>
        <a href="/users/new" class="text-white d-block">Create an Account / Login</a>
        <a href="/users" class="text-white d-block">See All Users</a>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="col-12 bg-primary text-white">
        <h1 class="display-4">Dogs</h1>
        <a href="/dogs/new" class="text-white d-block">Register Your Pup</a>
        <a href="/dogs" class="text-white d-block">See All Dogs</a>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="col-12 bg-warning text-white">
        <h1 class="display-4">Boardings</h1>
        <a href="/boarding/new" class="text-white d-block">Request A Boarding</a>
        <a href="/boardings" class="text-white d-block">See All Boarding</a>
      </div>
    </div>
  </div>
</div>